<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Application.Setup" Language="1033" Version="1.0.0.0" Manufacturer="Honey Badgers" UpgradeCode="b15a0165-41c0-41d1-8a9f-cbef50b48149">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Application.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Application.Console" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CMP_ApplicationConsoleSetup" Win64="yes">
        <File Id="FILE_ApplicationConsole.exe" Source="$(var.Application.Console.TargetPath)" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
