<?xml version="1.0" encoding="UTF-8"?>
<!--
 <copyright file="CancelDlg.wxs" company="Outercurve Foundation">
   Copyright (c) 2004, Outercurve Foundation.
   This software is released under Microsoft Reciprocal License (MS-RL).
   The license and further copyright text can be found in the file
   LICENSE.TXT at the root directory of the distribution.
 </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="CustomWarningDlg" Width="260" Height="85" Title="!(loc.CustomWarningDlg_Title)">
        <Control Id="Ok" Type="PushButton" X="72" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.CustomWarningDlgOk)">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Exit" Type="PushButton" X="132" Y="57" Width="56" Height="17" Text="!(loc.CustomWarningDlgExit)">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" NoPrefix="yes" Text="[CUSTOMWARNINGMESSAGE]"/>
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" Text="!(loc.CustomWarningDlgIcoExclam)"/>
      </Dialog>
    </UI>
  </Fragment>
</Wix>